* {
    border: 1px solid red !important;
}

body {
    /* Set this here for the whole document */
    /* Use em or % from here on out */
    font-size: 30px;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-model-demo {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 30px;
}

.flex-container {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 100px;
}

.flex-container-row {
    flex-direction: row; /* Default */
}

.flex-container-column {
    flex-direction: column;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: auto; /* Makes centering work. */
}

.font-one {
    font-family: 'Revalia', cursive;
}

.font-two {
    font-family: 'Ubuntu Mono';
    font-size: 1.5em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}