* {
    border: 1px solid red !important;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-model-demo {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 30px;
}

.flex-container {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 100px;
}

.flex-container-row {
    flex-direction: row; /* Default */
}

.flex-container-column {
    flex-direction: column;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: auto;  /* Makes centering work. */
}