* {
    border: 1px solid red !important;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-model-demo {
    width: 50%;
    padding: 1em;
    margin: 2em;
}

.flex-container {
    display: flex;
    width: 50%;
    margin: 4em;
}

.flex-container-row {
    flex-direction: row; /* Default */
    padding: 1em;
}

.flex-container-column {
    flex-direction: column;
    padding: 1em;
}

.flex-item {
    padding: 1em;
    margin: auto; /* Makes centering work. */
}

.font-one {
    font-family: 'Revalia', cursive;
}

.font-two {
    font-family: 'Ubuntu Mono';
    font-size: 1.5em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.red-text {
    color: #ff0099;
    /* can also use shorthand if you have repeating */
    /*color: #f09;*/
}

.red-background {
    background-color: #ff0099
    /* can also use shorthand if you have repeating digits */
    /*background-color: #f09;*/
}

.outer-box {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.inner-box {
    width: 50%;
    padding: 1em;
    height: 50%;
}

.underline {
    padding: 1em;
    text-decoration: underline;
}

.no-underline {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.overline {
    padding: 1em;
    text-decoration: overline;
}

.strikethrough {
    padding: 1em;
    text-decoration: line-through;
}